@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Domine', serif;
}

#navbar{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: rgb(0, 0, 0);
}

#navbar div {
    display: flex;
    height: 100%;
    align-items: center;
    overflow: hidden;
}

.navbar-info a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1rem;
    font-size: 1.5rem;
}

.navbar-info a:hover {
    background: rgba(86, 158, 251, 0.979);
    transition: 1s ease-in-out ;
}

#welcome-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-color: rgb(0, 0, 0);
}

#welcome-section h1{
    font-size: 5rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(128, 128, 128);
}

#welcome-section h2{
    font-style: italic;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(148, 148, 148);  
}

.me-img{
    margin-top: 25px;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    overflow: hidden;
    background-image: url(img/me.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
    margin: 10px;
    width: 50%;
    height: auto;
    background-color: white;
}

.about-me p{
    white-space: pre-line;
}


#projects{
    background-color: rgb(0, 0, 0);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.project-tile{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.work-img {
    max-width: 350px;
    height: auto;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 23px rgba(0,0,0,0.7);
    margin-bottom: 5px;
}

.img-section{
    display: flex;
    min-width: 80%;
    justify-content: center;
    align-items: center;
}

.img-section div{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link-work{
    font-size: 1.3rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 100%;
}

.button-section{
    text-align: center;
    background-color: rgba(114, 168, 230, 0.863);
    border-radius: 10px;
    padding: 15px;
}


.more{
    display: flex;
    margin: 20px;
}

.more div{
    display: block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
}

.more div:hover, .button-section:hover{
    background-color: rgba(86, 158, 251, 0.979);
    transition: 1s ease-in-out;
}

.more div a{
    text-decoration: none;
    color: white;
    padding: 15px;
}


#work{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#work div{
    margin: 10px;
    display: flex;
}

#work h1{
    font-size: 6rem;
    color: rgb(255, 255, 255);
}

#work div a{ 
    font-size: 3rem;
    padding: 10px;
    margin: 10px;
    color: rgba(114, 168, 230, 0.863);
    text-shadow: 2px 2px rgb(255, 255, 255);
}

#work div a:hover{ 
    transition: 1s ease;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px  rgba(86, 158, 251, 0.979);
}

.info-pj {
    text-align: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.363);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 7px;
    height: 50px;
}

.info-pj p{
    white-space: pre-line;
}

.info-pj a{
    color: white;
}

.info-pj a:hover{
    transition: 1s ease;
    color: rgba(86, 158, 251, 0.979);
}

#projects h1{
    font-size: 4rem;
    color: rgb(246, 247, 248);
    text-shadow: 2px 2px rgb(180, 180, 180);
}

@media only screen and (max-width: 815px) {
    .img-section {
        flex-direction: column;
    }

    .me-img{
        border-radius: 50%;
        padding: 60px;
        height: 20px;
        width: 20px;
    }

    #welcome-section h1{
        font-size: 2rem;
    }

    #welcome-section h2{
        font-size: 1rem;
    }

    #work h1{
        font-size: 2rem;
    }

    #projects h1{
        font-size: 1rem;
    }

    .about-me{
        width: 90%;
    }

    


}