$bg: url("../img/m-h-day.jpg");

$BodyBg: white;
$footerCol: rgb(0, 0, 0);
$logoTextCol: blanchedalmond;
$BanerGradient: linear-gradient(90deg, rgba(22,83,1,1) 0%, rgba(7,167,19,1) 40%, rgba(10,148,176,1) 73%, rgba(17,76,148,1) 99%);
$BanerSqrtCol: rgb(0, 136, 170);
$bottomCol: #228803;
$welcomeSqrt: rgb(0, 136, 170);
$SectionCardCl: rgb(21, 0, 41);
$AwesomeSqrt: rgb(1, 153, 190);
$logoTextCol2: rgb(65, 49, 80);
$textHeaderCl: rgb(43, 43, 43);
$textLink:white;
$CardTextCL: rgb(175, 175, 175);
$CardTextHCL: white;
$BanerColor: rgb(40, 38, 58);
$BanerColor2: rgba(197, 196, 196, 0.815);
$welcomeColor: rgb(40, 38, 58);
$headerHea: rgb(40, 38, 58);