@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');

*{
    font-family: 'Roboto', serif;
}

header{
    background-image: linear-gradient(to bottom, rgba(19,19,19,0.9), rgba(19, 19, 19, 0.9)), url(../img/headerBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-text-section p {
    white-space: pre-line;
    font-size: 0.7rem;
    color: #757373;
    font-weight: lighter;
}

.header-text-section h1 {
    font-size: 1.7rem;
    color: #fefefe;
}

.header-text-section p span{
    font-weight: bold;
    color: #adadad;
}

.timer-sextion{
    color: #ffffff;
}

.timer-sextion h2{
    font-size: 2rem;
}

.timer-sextion span:nth-child(3){
    font-size: 2rem;
    color: red;
}

.timer-sextion span{
    font-size: 1rem;
}

.green-button{
    background-color: #46b651;
    white-space: pre-line;
}

.header-button-section p{
    color: #757373;
    font-size: 6px;
    margin: 0;
    font-weight: lighter;
}

.body-one{
    color: white;
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='100%' width='100%'><text x='50%' y='50%' dominant-baseline='middle' text-anchor='middle' fill='%23242424' font-size='4rem' font-family='Domine, sans-serif' font-weight='bold' letter-spacing='10px'><tspan x='50%' y='17%'>DEPOSIT</tspan><tspan x='50%' y='51%'>RECEIVE BONUS</tspan><tspan x='50%' y='82%'>TRADE</tspan></text></svg>");
    background-color: #131313;
}

header div > h3{
    color: #8edd96;
    font-size: 1.7rem;
}

.body-one-section p:first-of-type{
    color: #3faa49
}

.body-one-section h4 {
    font-size: 1.7rem;
    font-weight: bold;
    font-family: 'Domine', serif;
}

.body-one-section p {
    font-size: 0.8rem;
    white-space: pre-line;
}

.banner{
    background-image: url(../img/mainWaveBg.png), linear-gradient(0deg, rgba(31,33,35,1) 50%, rgba(31,33,35,1) 72%, #131313 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.banner-border{
    border: 3px solid #494e57;
}

.banner-text p{
    color: #bdbebe;
    font-size: 0.7rem;
    white-space: pre-line;
}

.video-section{
    position: relative;
    background-image: linear-gradient(0deg, rgba(31,33,35,0.9) 10%, rgba(31,33,35,0.9) 80%, rgba(31,33,35,1) 100%);
    overflow: hidden;
    color: #ffffff;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.logo-video-section p{
    white-space: pre-line;
    font-size: 0.7rem;
}

.green-text-video-section{
    color: #8edd96;
    font-size: 1.7rem;
}

.button-area p{
    color: #919192;
    font-size: 0.5rem;
    margin: 0;
    font-weight: lighter;
}

.disclamer{
    position: relative;
    background-color: #131313;
    color: #424242;
    white-space: pre-line;
    font-size: 0.8rem;
}

.red-line{
    position: absolute;
    background-color: #ff0000;
    width: 20%;
    height: 5px;
    bottom: 0;
    left: 50;
}

footer{
    color: #888888;
    background-color: #232323;
    font-size: 0.8rem;
}

footer span {
    font-weight: bold;
    color: #ffffff;
}

footer a{
    text-decoration: none;
    color: #888888;
}

footer a:hover{
    text-decoration: none;
    color: #d4d4d4;
}

footer p a:hover{
    text-decoration: none;
    color: #ffffff;
}

.hr-line{
    margin-left: 4%;
    margin-right: 8%;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 10px;
}

form input {
    width: 100%;
}

.modal-header{
    background-color: #a7a7a76e;
}

.modal-header h4{
    color: #000000;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

@media screen and (max-width: 885px) {
    footer {
        font-size: 0.5rem;
    }

    .hr-line{
        margin-left: 0%;
        margin-right: 0%;
    }

    form{
        font-size: 0.6rem;
    }

  }

