$bg: url("../img/m-h-night.jpg");

$BodyBg: rgb(53, 47, 65);
$footerCol: rgb(62, 67, 77);
$logoTextCol: rgb(228, 227, 226);
$BanerGradient: linear-gradient(90deg, rgba(228,156,27,1) 0%, rgba(200,129,63,1) 47%, rgba(147,24,80,1) 100%);
$BanerSqrtCol: rgb(238, 36, 0);
$bottomCol: #fcac00;
$welcomeSqrt: rgb(238, 36, 0);
$SectionCardCl: rgb(62, 67, 77);
$AwesomeSqrt: rgb(238, 36, 0);
$logoTextCol2: white;
$textHeaderCl: white;
$textLink:white;
$CardTextCL: rgba(175, 175, 175, 0.733);
$CardTextHCL: rgba(255, 255, 255, 0.904);
$BanerColor: white;
$BanerColor2: rgba(197, 196, 196, 0.89);
$welcomeColor: white;
$headerHea: white;