main{
    border-color: black;
    border-style: solid;
    margin: auto;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 13%;
    max-width: 100%;
}

main button{
    background-color: cadetblue;
    color: white;
    border-style: solid;
    border-color: teal;
    width: 5rem;
    padding: 10px;
    height: auto;
    margin-top: 5px;
}

main button:hover{
    background-color: rgb(65, 106, 107);
    color: rgb(231, 229, 229);
    border-style: solid;
    border-color: rgb(0, 94, 94);
}

main input{
    background-color: teal;
    margin-bottom: 5px;
    height: auto;
    width: 99%;
    color: blanchedalmond;
    border: 2px solid black;
}

main input::placeholder{
    padding: 5px;
}

main label{
    margin-top: 10px;
}

.inputs.success input{
    border-color: rgb(79, 211, 3);
    background-color: rgba(105, 211, 0, 0.856);
    color: white;
}

.inputs.error input{
    border-color: brown;
    background-color: rgba(240, 76, 0, 0.801);
    color: white;
}

.inputs.error input::placeholder{
    color: rgba(255, 255, 255, 0.527);
}

.inputs.success input::placeholder{
    color: rgba(255, 255, 255, 0.527);
}
